html {
    font-size: 18px;
    scroll-behavior: smooth;    
}

h1,h2 {
    text-align: right;
}

h4 {
    color: #2b77a5
}

body {
    background-color: #f2f2f3;
    font-family: Georgia,'Verdana',"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}

.article {
    max-width: 1200px;
}

.sidebar {
    font-size: 14px;

    position: fixed;
    top: 0px;
    width: 220px;

    display: flex;
}

.menu > div {
    margin: 6px;
}

.gradient {
    width: 30px;
    height: 100vh;
    background-image: linear-gradient(to right, #cfd2dc, #f7faff);
}

.content {
    //width: 750px;
    margin-left: 200px;
    margin-right: 100px;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

.project {
    background-color: #eeeef3;
    display: flex;
    margin: 10px;
    border: 1px solid #888888;
    border-radius: 8px;
}

.image-holder {
    width: 250px;
    min-width: 250px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 8px 0px 0px 8px;
    overflow: hidden;
}

.project-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-explanation {
    flex-grow: 1;
    margin: 10px;
}

.toc-button:hover {
    cursor: pointer;
    font-weight: 600;
}

li {
    color: #3d13a0;
}
